[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Individual Assignment- Gerrit Code Review
[access "refs/*"]
	owner = group user/larissalovel
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/larissalovel
	label-Verified = -1..+1 group user/larissalovel
	push = group user/larissalovel
	read = group user/larissalovel
	rebase = group user/larissalovel
	removeReviewer = group user/larissalovel
	submit = group user/larissalovel
[access "refs/heads/*"]
	create = group user/larissalovel
	push = +force group user/larissalovel
	pushMerge = group user/larissalovel
	read = group user/larissalovel
[access "refs/tags/*"]
	push = group user/larissalovel
	push = +force group user/larissalovel
